<div class="container">
    <div class="row">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">
                Dynamic Form Creation
            </div>
            <div class="panel-body" style="position:relative">
                <div class="form-group">
                    <label>Form Name</label>
                    <ng-select [items]="formName" bindLabel="Form Name" placeholder="Select" appendTo="body" [(ngModel)]="input.formName"></ng-select>
                </div>
                <div class="form-group">
                    <label>Colums</label>
                    <input type="text" class="form-control" placeholder="Enter Number of Columns" id="txtInputRows" [(ngModel)]="input.rows">
                </div>
                <div class="form-group pull-left">
                    <button (click)="formTable($event, input)" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row" *ngIf="showTable">
        <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading">
                Dynamic Tabular Form Creation
            </div>
            <div class="panel-body" style="position:relative">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th *ngFor="let column of formTableRows" class="text-center">
                                    {{"Cell " + (column)}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngFor="let item of formTableRows">
                                    <div>
                                        <div class="form-group">
                                            <label>Label </label>
                                            <input type="text" [attr.name]="'Label-' + item" [attr.id]="'Label-' + item" [(ngModel)]="finalObj['Cell_' + item].label"
                                                class="form-control" placeholder="Enter Label">
                                        </div>
                                        <div class="form-group">
                                            <label>Field Type</label>
                                            <ng-select [items]="inputTypes" bindLabel="Field Type" placeholder="Select" appendTo="body" (add)="inputTypeSelected($event)"
                                                [(ngModel)]="finalObj['Cell_' + item].inputType"></ng-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Required</label>
                                            <ng-select [items]="required" bindLabel="Required" placeholder="Select" appendTo="body" [(ngModel)]="finalObj['Cell_' + item].required"></ng-select>
                                        </div>
                                        <div class="form-group" *ngIf="finalObj['Cell_' + item].inputType=='DropDown'">
                                            <label>Data Points</label>
                                            <ng-select [items]="dataPoints" bindLabel="Data Points" placeholder="Select" appendTo="body" (add)="dataSourceSelected($event)"
                                                [(ngModel)]="finalObj['Cell_' + item].dataPoints"></ng-select>
                                        </div>
                                        <div class="form-group">
                                            <label>Formula </label>
                                            <input type="text" [attr.name]="'Label-' + item" [attr.id]="'Formula-' + item" [(ngModel)]="finalObj['Cell_' + item].formula"
                                                class="form-control" placeholder="Enter Formula" (change)="onFormulaEntered(finalObj, item)">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group text-center">
                <button (click)="onSubmit($event, finalObj)" class="btn btn-success">Submit</button>
                <button (click)="onSubmit($event, finalObj, true)" class="btn btn-danger">Reset</button>
            </div>
        </div>

        <div class="row" *ngIf="myData">
            <p>{{myData}}</p>
        </div>
        <!-- <div class="row">
        <div class="overflow-box">
            <ng-select [items]="columns" bindLabel="company" placeholder="Select item" appendTo="body" multiple="false" [closeOnSelect]="false"
            [(ngModel)]="formData.dropdown">
        </ng-select>
        </div>
        
        <br/>
        <input type="text"  [(ngModel)]="formData.textbox"/>
        <button (click)="onSubmit($event, formData)">Submit</button>
    </div> -->
    </div>
</div>